* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --grey: #E9E9E9;
    --unit: 1rem;
    --header_height: calc(3 * var(--unit));
}



/* layout header */

header {
    display: flex;
    align-items: center;
    height: var(--header_height);
    
    position: sticky;
    z-index: 15;
    top: 0px;

    padding-left: calc(1 * var(--unit));
}
header h2 {
    display: flex;
}
header h2:before {
    content: "|";
    margin-left: calc(.5 * var(--unit));
    margin-right: calc(.5 * var(--unit));
}



/* layout wrapper */

#wrapper {
    display: flex;
    align-items: flex-start;
}
#wrapper aside,
#wrapper main > * {
    padding-left: var(--unit);
    padding-right: var(--unit);
}
#wrapper aside {
    flex-shrink: 0;
    width: calc(100% / 4);
}



/* layout main */

main {
    display: flex;
    flex-wrap: wrap;

    padding-top: calc(3 * var(--unit));
    padding-bottom: calc(3 * var(--unit));    
}
main > * {
    width: 50%;
}
main h2 {
    width: 75%;
    margin: auto;
    margin-bottom: calc(3 * var(--unit));
}
main > p:nth-child(odd) {
    padding-left: calc(2 * var(--unit)) !important;
}
main > p:nth-child(even) {
    padding-right: calc(2 * var(--unit)) !important;
}

/* compteur de paragraphes */
main {
    counter-reset: p_counter;
}
main > p:nth-child(odd) {
    counter-increment: p_counter;
    position: relative;
}
main > p:nth-child(odd):before {
    content: counter(p_counter);
    text-indent: 0px;
    position: absolute;
 
    width: 20px;
    text-align: right;
}


/* layout aside */
aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: start;

    min-height: calc(100vh - var(--header_height));
    position: sticky;
    top: var(--header_height);
    border-top: 2px solid white;

    padding-top: calc(1 * var(--unit));
}
aside#metadata > * {
    width: calc(50% - calc(1 * var(--unit)));
    margin-bottom: calc(1 * var(--unit));
    min-width: 180px;
}
aside p * { display: block; }



/* TYPO */
body, h1, h2, h3 {
    font-size: 1rem;
    font-weight: 400;
}
body { font-family: "alegreya_sans"; }
main { font-family: "EBGaramond"; }

header a {
    text-decoration: none;
    color: inherit;
}
header * {
    text-transform: uppercase;
    font-weight: 600;
}
main h2 {
    font-size: 2.5rem;
    text-align: center;
}
main > p {
    text-indent: var(--unit);
    font-size: 1.3rem;
    line-height: 1.7rem;
}
main span {
    text-indent: 0px;
}
main > p:nth-child(odd):before {
    font-family: "alegreya_sans";
    font-feature-settings: 'lnum', 'pnum';
    font-size: .7rem;

    left: -2px;
    top: 3px;
}
.definition {
    font-weight: 600;
}

/* COLORS */

header,
aside {
    background-color: var(--grey);
}
[type="trad"],
main h2:nth-child(2) { 
    color: chocolate;
}
.seg { border-bottom: 1px dotted black; }



/* APPARITION DES NOTES */

span.seg {
    position: relative;
    z-index: 9;
    cursor: pointer;
}
span.seg.hovered {
    z-index: 10;
    background-color: #E9E9E9;
}
span.note {
    font-size: 1rem !important;

    display: none;

    z-index: 11;
    position: absolute;
}
span.note.active {
    display: block;
    z-index: 11;
    position: absolute;
    top: 25px;
    left: -75px;
    width: 250px;

    background-color: white;
    padding: .5rem 1rem .5rem 1rem;
    border: 1px solid chocolate;
}





[type="orig"] {}
[type="trad"] {}

/*
.persName:before {
    content: "♟";
}
.title:before {
    content: "✒";
}
.seg:before {
    content: "✻";
}
.foreign:before {
    content: "❂";
}
.persName {background-color: lavender;}
.title { background-color: #f9f0ab; }
.foreign { background-color: #ffb3b3; }
*/